{% extends "resume/base.html" %}
{% block content %}


<div class="bio">
    <div class="pfp">
        pfp area
    </div>
    <div class="biotext">
        <h6 style="margin-left: 100px;">AL-jər</h6>
        <h2>
            Bailey Alger
        </h2>
        <h5>
            Backend Developer
            </h3>
            <p style="font-size: 15px">
                I am a prospective backend developer looking to start my career in software. With education from Nucamp, as well as a variety of online resources such as Codecademy and Udemy, I can be an asset in many different junior developer positions.
            </p>
    </div>
</div>
<!--bio-->
</br>

<h4 style="text-align: center;">
    My Knowledge
</h4>
</br>

<article class="media content-section">
    <img class="article-img" src="/media/PostgreSQL.png">
    <div class="media-body">
        <h5>Languages, Tools, Services, etc.</h5>
        <p class="article-content">
            From most to least familiar:
            &nbsp; &nbsp; Python
            &nbsp; &nbsp; SQL
            &nbsp; &nbsp; C#
            &nbsp; &nbsp; HTML
            &nbsp; &nbsp; Docker
            &nbsp; &nbsp; Kubernetes
            &nbsp; &nbsp; PostgreSQL
            &nbsp; &nbsp; Django
            &nbsp; &nbsp; Insomnia
            &nbsp; &nbsp; Flask
        </p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="/media/Relation.png">
    <div class="media-body">
        <h5>Relational Databases</h5>
        <p>
            I'm confident in my ability to create databases that include one to one, one to many,
            and many to many relationship types. This can be done in SQL as well as using python ORMs such as SQLAlchemy.
            <a href="https://github.com/Bailey-Alger/Relational-Database" target="_blank">Here</a>
            you can find a project I completed where I made a small database that includes the three relationships.
            The database uses information for animated shows as its base. The relationships are:
            show to main character - OTO; studio to shows - OTM; and shows to genres - MTM;
        </p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="/media/Github.png">
    <div class="media-body">
        <h5>Projects</h5>
        <p>My projects can be found on my <a href="https://github.com/Bailey-Alger/">github</a>.</p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="/media/NuCamp.png">
    <div class="media-body">
        <h5>Education</h5>
        <p>The bulk of my education in backend systems and languages comes from Nucamp, a well reviewed coding bootcamp.</p>
    </div>
</article>


</br>
<h4 style="text-align: center;">
    What I Like About Software Development
</h4>
</br>

<article class="media content-section">
    <img class="article-img" src="/media/Clock.png">
    <div class="media-body">
        <h5>Efficiency</h5>
        <p>I find it interesting when people are able to create incedibly efficient code. For example, Doom 1993 was revolutionary at the time it was released because the programmers, primarily John Carmack, utilized binary space partitioning which had only been theorized and never actually applied to a real program. Even something as simple as using checkerboard rendering to increase video game resolution while utilizing the same processing power is amazing.</p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="/media/Bug.png">
    <div class="media-body">
        <h5>Bug Fixing</h5>
        <p>Despite being extremely frustrating at times, bug fixing can be quite enjoyable for me. Something about hyper-focusing on one issue can be relaxing. The feeling of relief when you finally figure it out is pretty great as well.</p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="#">
    <div class="media-body">
        <h5>Always Learning</h5>
        <p>Software development is an ever evolving industry. Languages, frameworks, and tools constantly get updated. New tech is always being developed. With a career in software there's always something new to learn and adapt to. It's nice to know that even if I'm working the exact same job for 20 years the day-to-day work will change.</p>
    </div>
</article>

<article class="media content-section">
    <img class="article-img" src="/media/Blocks.png">
    <div class="media-body">
        <h5>Building</h5>
        <p>Nearly everyone roughly around my age played with legos growing up. I personally loved legos. Any time I got my hands on a new set you could garentee i'd have it built within the next 2 days no matter how big it was. My dad is also a general contractor and has been my whole life so maybe building new things just runs in the genes.</p>
    </div>
</article>

{% endblock content %}