{% load static%}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'resume/style.css' %}">
</head>

<body>
    <div id="wrapper" style="height:1100px">
        <header>
            <div id="header">
                <div id="name">
                    <h1>Bailey Alger</h1>
                </div>
                <div id="navigation">
                    <a href="{% url 'resume-home' %}">&nbsp;About Me&nbsp;</a>
                    <a href="feedback">&nbsp;Feedback&nbsp;</a>
                    <a href="create"><span class="selected">&nbsp;Create Temporary Account&nbsp;</span></a>
                </div>
                <!--navigation-->
            </div>
        </header>
        <div id="create">
            <button type="button" onclick="createBtn()">
                Create Temporary Account
            </button>
            <script src="{% static 'resume/btn.js' %}"></script>
            <p id="accountinfo"></p>
        </div>
</body>

</html>