{% load static%}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'resume/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <header>
            <div id="header">
                <div id="name">
                    <h1>Bailey Alger</h1>
                </div>
                <div id="navigation">
                    <a href="{% url 'resume-home' %}">&nbsp;About Me&nbsp;</a>
                    <a href="feedback"><span class="selected">&nbsp;Feedback&nbsp;</span></a>
                    <a href="create">&nbsp;Create Temporary Account&nbsp;</a>

                </div>
                <!--navigation-->
            </div>
        </header>
        <div id="test">
            <p>Some text.</p>
        </div>
    </div>
    </div>
</body>

</html>