{% extends "resume/base.html" %}
{% block content %}


<div class="bio">
    <div class="pfp">
        pfp red
    </div>
    <div class="biotext">
        <h6 style="margin-left: 100px;">AL-jər</h6>
        <h2>
            Bailey Alger
        </h2>
        <h5>
            Back-End Developer
            </h3>
            <p style="font-size: 15px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa facilis. Nobis dolorum accusamus
                sit enim dicta non assumenda dolores mollitia ullam, labore perspiciatis totam alias, esse natus cum
                molestiae?
            </p>
    </div>
</div>
<!--bio-->
</br>

<h4 style="text-align: center;">
    My Knowledge
</h4>
</br>
<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Relational Databases</h2>
            <p>
                I'm confident in my ability to create databases that include one to one, one to many,
                and many to many relationship types. This can be done in SQL as well as using python ORMs such as SQLAlchemy.
                <a href="https://github.com/Bailey-Alger/Relational-Database" target="_blank">Here</a>
                you can find a project I completed where I made a small database that includes the three relationships.
                The database uses information for animated shows as its base. The relationships are:
                show to main character - OTO; studio to shows - OTM; and shows to genres - MTM;
            </p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>DevOps</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate
            natus. Itaque facere
            sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
            dicta excepturi illum ea.
        </p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Languages, Tools, Services, etc.</h4>
        <p class="article-content">
            Pyhton - ,
            SQL - ,
            C# - ,
            HTML - ,
            Kubernetes - ,
            - ,
        </p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Projects</h4>
        <p>My projects can be found on my <a href="https://github.com/Bailey-Alger/">github</a>.</p>
    </div>
</article>

{% endblock content %}