{% extends "resume/base.html" %}
{% block content %}


<div class="bio">
    <div class="pfp">
        pfp red
    </div>
    <div class="biotext">
        <h6>AL-jər</h6>
        <h2>
            Bailey Alger
        </h2>
        <h3>
            Back-End Developer
        </h3>
        <p style="font-size: 15px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa facilis. Nobis dolorum accusamus
            sit enim dicta non assumenda dolores mollitia ullam, labore perspiciatis totam alias, esse natus cum
            molestiae?
        </p>
    </div>
</div>
<!--bio-->
<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h2><a class="article-title" href="#">Relational Databases</a></h2>
        <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate
            natus. Itaque facere
            sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
            dicta excepturi illum ea.</p>
    </div>
</article>
<h4>
    Portfolio
</h4>
<div class="pfitem">
    <h5>
        Relational Databases
    </h5>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate natus. Itaque facere
        sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
        dicta excepturi illum ea.
    </p>
</div>
<div class="pfitem">
    <h5>
        DevOps
    </h5>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, laborum autem omnis temporibus
        optio vero. Quisquam sed voluptatibus autem et adipisci quia pariatur. Quas, harum in ipsam laborum
        aspernatur labore.
    </p>
</div>
<div class="pfitem">
    <h5>item 3</h5>
</div>
<div class="pfitem">
    <h5>item 4</h5>
</div>
</div>
<!--wrapper-->
{% endblock content %}