{% extends "resume/base.html" %}
{% block content %}


<div class="bio">
    <div class="pfp">
        pfp red
    </div>
    <div class="biotext">
        <h6>AL-jər</h6>
        <h2>
            Bailey Alger
        </h2>
        <h5>
            Back-End Developer
            </h3>
            <p style="font-size: 15px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa facilis. Nobis dolorum accusamus
                sit enim dicta non assumenda dolores mollitia ullam, labore perspiciatis totam alias, esse natus cum
                molestiae?
            </p>
    </div>
</div>
<!--bio-->
</br>

<h4 style="text-align: center;">
    My Knowledge
</h4>
</br>
<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Relational Databases</h2>
            <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
                voluptate
                natus. Itaque facere
                sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
                dicta excepturi illum ea.</p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>DevOps</h4>
        <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate
            natus. Itaque facere
            sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
            dicta excepturi illum ea.</p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Title</h4>
        <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate
            natus. Itaque facere
            sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
            dicta excepturi illum ea.</p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <h4>Title</h4>
        <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate
            natus. Itaque facere
            sit reiciendis fugiat. Accusamus soluta nostrum, unde dolor odit quidem voluptate officiis, magni
            dicta excepturi illum ea.</p>
    </div>
</article>

<!--wrapper-->
{% endblock content %}