body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/bluebg.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: normal;
}

h2 {
    margin: 0;
}

h3 {
    color: rgb(168, 168, 168);
    font-weight: normal;
    margin: 0;
    font-size: 17px;
}

h4 {
    padding-left: 30px;
}

h5 {
    padding-left: 50px;
    /*change font*/
}

h6 {
    color: rgb(168, 168, 168);
    font-weight: normal;
    margin: 0 0 0 98px;
    font-size: 12px;
}

p {
    font-size: 14px;
    padding-left: 50px;
}

#bio {
    width: 1075px;
    height: 250px;
    position: relative;
}

#biotext {
    width: 500px;
    height: 250px;
    float: right;
    position: absolute;
    right: 75px;
}

#form {
    width: 500px;
    height: fit-content;
    float: left;
    position: relative;
    background-color: aqua;
    padding: 0px 375px 0px 200px;
}

#form textarea {
    max-width: 500px;
    max-height: 300px;
    min-width: 200px;
    min-height: 100px;
}

#name {
    position: absolute;
    top: 20px;
    left: 30px;
    width: fit-content;
    height: 60px;
}

#pfitem {
    width: 535px;
    height: 200px;
    float: left;
}

#pfp {
    width: 300px;
    height: 250px;
    float: left;
    position: absolute;
    left: 200px;
    background-color: red;
}

#portfolio {
    width: 1075px;
    height: 400px;
}

#posts {
    width: 1075px;
    height: 300px;
}

#test {
    padding: 20px 30px;
}

#wrapper {
    width: 1075px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 30px;
}